.wrapper {
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 5px;
}

.text {
    font-size: 10px;
    line-height: 14px;
    color: #fff;
}

.badge {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
}