body {
  margin: 0;
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito'), url(./assets/fonts/Nunito/Nunito-Regular.ttf) format('truetype');
}

:root {
  --gray: #7A7A7A;
  --red: #F8475F; 
}