body {
  margin: 0;
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito'), url(./assets/fonts/Nunito/Nunito-Regular.ttf) format('truetype');
}


/* DOTs SLIDES */
#infinite-carousel > ul > button > i.InfiniteCarouselDotActiveIcon {
  background-color: var(--red);
}

:root {
  --black: #333333;
  --gray: #7A7A7A;
  --ligth-gray: #BDBDBD;
  --red: #F8475F;
  --dark-red: #D7182A; 
}